:root{
  --mainBeige: #f1eae3 ;
  --darkBeige: #af804d;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
}
body{
  font-family: 'Roboto', sans-serif!important;
  background: var(--mainWhite)!important;
  color: var(--mainDark)!important;
}
.text-title{
  font-family: 'Courgette', cursive;
  letter-spacing: 0.2rem;
  text-transform: none;
}
.text-blue{
  color: var(--darkBeige);
}
.text-bright{
  color: var(--darkBeige);
}
.navbar-brand{
  height: 100px;
  width: 100px;
}